NODE_ENV=development
PORT=3000
APP_VERSION=1.0.0

SERVICE_NAME=deliveroo-clone-api
BFF_API_KEY=your-bff-api-key-here

AUTH_SERVICE_URL=http://localhost:4001
AUTH_API_KEY=your-auth-api-key-here

ORDER_SERVICE_URL=http://localhost:4002
ORDER_SERVICE_API_KEY=your-order-api-key-here

PAYMENT_SERVICE_URL=http://localhost:4003
PAYMENT_SERVICE_API_KEY=your-payment-api-key-here

LOG_LEVEL=info
BASE_URL=http://localhost:3000

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=1000
